# Dependências
node_modules/
venv/
.venv/
__pycache__/
*.pyc
target/
bin/
obj/
vendor/

# Build
dist/
build/
*.class
*.jar
*.exe

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp

# Variáveis de Ambiente
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Django Banco de Dados
db.sqlite3
db.sqlite3-journal
*.sqlite3
